html, body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

html { 
	font-size: 100%;-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
}

body{
	color:#444;
	font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-size:16px;
	line-height:1.5em;
	padding:1em;
	margin:auto;
	background:#fefefe;

	#blog_title{
		font-size:32px;
		font-weight: 300;
	}

	#detail {
    max-width: 900px; 
    margin: 0 auto; 
	}

}

